*{
    padding: 0;
    margin: 0;
  
    }


    :root {
    --color--text-title: #757575;
    --color--text-paragraph: #757575;
    --color--blue: #2196f3;
    --color--white: #ffffff;
  }
  
  body {
    background-color: var(--color--white);
    font-family: 'Roboto', sans-serif;
  }
  
  
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header {
    display: flex;
    align-items: center; /*esta funcion me alineo los textos centrados de los diferentes contenedores del header*/
    margin-top:24px;
    margin-bottom: 22px;
    justify-content: space-between;
  }
  
  .logo{
    font-family: 'Raleway', sans-serif;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    margin-right: 93px;
    width:145px;
    letter-spacing: 0.03em;
    color: var(--color--blue);
     
  }
  
  .navbar{
    display: flex; /*no se porque me baja el UL, en la pagina se nota cuando borro esta funcion*/
    margin-right: 306px;
  }
  
  .navbar .navbar__menu{
    display: flex;
    list-style-type: none;
    justify-content:space-between;
    width: 293px;
   }
  
   .navbar .navbar__list{
    position: relative;
  
  }
  
  .navbar .navbar__link {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
   }
  
   .navbar__link:hover,      
   .navbar__link:focus {
    color:var(--color--blue);
    outline: none;
    
   }
   
   .navbar__link::after{
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0; 
    width: 0;
    height: 4px;
    background: var(--color--blue);
    border-radius: 12px;
   }
  
  .navbar__link:hover::after{
    width:100%;
  }
  
  
  .booking{
  display:flex;
  justify-content:space-between;
  }
  
  .booking .booking__link2{
    position:relative;
    text-align: end; /*coloque el texto al final del contenedor para darle espacio al svg*/
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color:var(--color--text-title)
  }
  
  .booking .booking__link2--email{
    margin-right: 30px;
    width: 161px;
  }
  
  .booking .booking__link2--phone{
    width: 142px;
  }
  
  .booking .booking__icon{
   position: absolute;
   fill: #757575;
   left:0px;
  }
  
  
.booking .booking__icon--sobre {
    height: 12px;
    width: 16px;
    top:2px;
    }
  
.booking .booking__icon--phone {
    height: 16px;
    width: 10px;
    top:0px;
  }
  
.booking__link2:hover{
    color:var(--color--blue);
    outline: none;
  }
  
.booking__link2:hover .booking__icon,
.booking__link2:focus .booking__icon
  {
    color:var(--color--blue);
    outline: none;
    fill:var(--color--blue);
  }
  
  /* section filter */
  
  
.line {
  border: 1px solid #ececec;
  margin: 0px;
  margin-bottom: 95px;
  
}

.nav__filter{
  margin-bottom:34px ;
}


.list__filter {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.list__button {
  background-color: transparent;
  width: auto;
  height: auto;
  border: 0;
  list-style-type: none;
  font-family: Roboto;
  font-weight: 500px;
  font-size: 16px;
  line-height: 26px;
  margin-right: 8px;
  padding: 6px 24px;
}


.list__button:hover,
.list__button:focus {
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: #2196f3;
  cursor:pointer;
  outline: none;
}



  /* section cards  section 2 */

  .cards{
    padding-top: 50px;
    margin-bottom: 94px;
  }
  
  .cards .cards__images{
    list-style-type: none;
    padding: 0px;
 text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    gap:30px;


  }
  
 
  
  .cards .cards__list {
    width: 370px;

  }

  .cards .cards__borde {
    border: 1px solid #EEEEEE;
  }

.cards__shadow:hover,
.cards__shadow:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards .cards__info{
  height: 294px;
  position: relative;
  overflow: hidden;
}

.cards .cards__description {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  height: 294px;
  width: 370px;
  background: rgba(33, 150, 243, 0.9);
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 64px 16px;

  
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__shadow:hover .cards__description{
  transform: translateY(0%);
}
.cards .cards__tittle1 {
   
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
  }
  
  .cards .cards__tittle2 {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
  }
  




  
 /* footer */
  
  .footer {
      display: flex;
      background-color: #2f303a;
      padding-top: 60px;
      padding-bottom: 60px;
      align-items: flex-start;
    }
  
  .footer_div {
      display: flex;
    }
  
    .footer-address-logo{
      margin-right: 70px;
    }
  
  .footer__logo{
      margin-top: 0px;
      margin-bottom: 9px;
    }
     
   .footer__address{
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: #ffffff;
      font-style: normal;
    }
  
    .footer-contact{
      text-decoration: none;
      list-style-type: none;
      color: #757575;
      padding-left: 0px;
  
    }
    
    .footer-contact:hover,
    .footer-contact:focus
      {
      color: #2196f3;
      fill: #2196f3;
      border-color: #2196f3;
      outline: none;
    }
    
    /* <!--------------- footer social netwok ------------> */
    
    .footer-text {
      margin-bottom: 20px;
      color: #ffffff;
    }
    .footer__social-network {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
    }
    
    .footer__icon {
      display: flex;
      align-items: center;
      justify-content: center;
                 
       border-radius: 22px;
       margin-right: 10px;;
      background:linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1));
    }
  
    .footer__social-link{
      display:flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
    }
    
     .footer__icon .footer__social-link:hover,
     .footer__icon .footer__social-link:focus {
      background-color: #2196f3;
      border-radius: 22px;
      border: 1px #2196f3;
      outline: none;
    
      } 
          
    .footer__svg {  
      height: 20px; 
      width: 20px;
      fill: #ffffff;
    } 
   
    .footer-form{
      display: flex;
     
    }
  
    .footer__form-label{
     
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
      display:block;
      margin-bottom: 20px;
      margin-left: 93px;
    
    }
    .footer__form-input{
      margin-left: 93px;
      width: 358px;
      height:50px;
      background-color: #2F303A;
      border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    padding-left: 30px;
    color:#FFFFFF;
    }
     
    .footer__button{
      display:flex;
    width:200px;
    height:50px;
    color:#FFFFFF;
    background-color: #2196F3;
    border: #2196F3;
    margin-left: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 36px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    justify-content: center;
    }
    
  
    .footer__form-svg{
      fill:#EEEEEE;
      height: 24px;
      width:24px;
    
      margin-left: 20px;
      
    }