*{
  padding: 0;
  margin: 0;

  }

:root{
  --color--text-title:#757575;
  --color--blue:#2196f3;
  --color--white:#ffffff;
  --color--black:#000000;
  --color--dark:#212121;
  --color--section2: #F5F4FA;
  }

body {
  background-color: var(--color--white);
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center; /*esta funcion me alineo los textos centrados de los diferentes contenedores del header*/
  margin-top:24px;
  margin-bottom: 22px;
  justify-content: space-between;
}

.logo{
  font-family: 'Raleway', sans-serif;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  margin-right: 93px;
  width:145px;
  letter-spacing: 0.03em;
  color: var(--color--blue);
   
}

.navbar{
  display: flex; /*no se porque me baja el UL, en la pagina se nota cuando borro esta funcion*/
  margin-right: 306px;
}

.navbar .navbar__menu{
  display: flex;
  list-style-type: none;
  justify-content:space-between;
  width: 293px;
 }

 .navbar .navbar__list{
  position: relative;

}

.navbar .navbar__link {
  color: var(--color--black);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
 }

 .navbar__link:hover,      
 .navbar__link:focus {
  color:var(--color--blue);
  outline: none;
  
 }
 
 .navbar__link::after{
  content: "";
  position: absolute;
  bottom: -27px;
  left: 0; 
  width: 0;
  height: 4px;
  background: var(--color--blue);
  border-radius: 12px;
 }

.navbar__link:hover::after{
  width:100%;
}


.booking{
display:flex;
justify-content:space-between;
}

.booking .booking__link2{
  position:relative;
  text-align: end; /*coloque el texto al final del contenedor para darle espacio al svg*/
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color:var(--color--text-title)
}

.booking .booking__link2--email{
  margin-right: 30px;
  width: 161px;
}

.booking .booking__link2--phone{
  width: 142px;
}

.booking .booking__icon{
 position: absolute;
 fill: var(--color--text-title);
 left:0px;
}


.booking .booking__icon--sobre {
  height: 12px;
  width: 16px;
  top:2px;
  }

  .booking .booking__icon--phone {
  height: 16px;
  width: 10px;
  top:0px;
}

.booking__link2:hover{
  color:var(--color--blue);
  outline: none;
}

.booking__link2:hover .booking__icon,
.booking__link2:focus .booking__icon
{
  color:var(--color--blue);
  outline: none;
  fill:var(--color--blue);
}

/* section1 */

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.2);
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal {
  background-color: var(--color--white);
  width: 528px;
  height: 581px;
  opacity: 1;
  padding: 40px;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transform: translateY(0);
  justify-content: end;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close:hover,
.modal__close:focus {
  cursor: pointer;
  color: var(--color--blue)
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--color--dark);
}

.Request-form__label {
  color: var(--color--text-title);

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.Request-form__input-group{
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  display: block;
}

.Request-form__input {
  display: block;
  width: 100%;
  height: 35px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-top: 4px;
}

.Request-form__input:hover + .Request-form__svg,
.Request-form__input:focus + .Request-form__svg {
  fill: var(--color--blue)
}

.Request-form__svg:hover {
  fill:var(--color--blue)
}

.Request-form__input-group:hover .Request-form__input,
.Request-form__input-group:focus .Request-form__input {
  border: 1px solid var(--color--blue)
}

.Request-form__svg{
  position: absolute;
  width: 18px;
  height: 18px;
  top: 11px;
  left: 12px;
  fill: var(--color--dark);
}

.Request-form__commit {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  color: var(--color--dark);
}

.Request-form__label--check {
  display: block;
  padding-left: 30px;
  margin-top: 20px;
}

.Request-form__check {
  margin-top: 20px;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  background-color: var(--color--blue);
  width: 16px;
  height: 15px;
}

.check__box {
  position: absolute;
  margin-top: 0.2em;
  margin-left: -2em;
  width: 12px;
  height: 11px;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: var(--color--white);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #212121;
}

.Request-form__check:checked + .check__box {
  background-image: url(../images/checkbox.svg);
  box-shadow: 0 0 0 0.1em var(--color--blue);
  width: 12px;
  height: 11px;
}

.Request-form__button-submit{
  outline: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 6px;
  width: 200px;
  height: 50px;
  background-color: var(--color--blue);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--color--white);
  background: var(--color--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--color--blue);
  cursor: pointer;
}

.section1 {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/section_image.jpg");
  color: var(--color--white);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0px;
  margin-bottom: 94px;
}

.section1__tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color--white);
  margin-top: 0;
  margin-bottom: 30px;
}

.section1__button {
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--color--blue);
  color: var(--color--white);
  padding: 10px 32px;
  cursor: pointer;
  background: var(--color--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
}

/* section2
 */

 .section2{
  margin-bottom: 94px;
}
 .section2__caracteristicas {
  display: flex;

  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
 gap:30px;
}

.section2__list {

font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
width: 270px;
}

.section2__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: var(--color--section2);
  border-radius: 4px;
  margin-bottom: 30px;
}

.section2__svg {
  height: 70px;
  width: 70px;
}

.section2__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.06em;
color: var(--color--dark);
}

.section2__parrafo {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--color--text-title);
  justify-content: center;

}


/* section3 */

 
.section3 {
   margin-bottom: 94px;
}

.section3__tittle2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--color--dark);
}

.section3__list {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
  list-style-type: none;
}

.section3__parrafo {
  margin: 27px;
  color: var(--color--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  width:310px;
}

.section3__box{

   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 30px;
    width: 370px;
    height: 294px;
}

.section3__box--1 {
    background: url(../images/pc.jpg);


}

.section3__box--2 {
    background: url(../images/cel.jpg);
  
  
}
  
.section3__box--3 {
    background: url(../images/tablet.jpg);
 
  
}
.section3__sub-box {
   
  width: 370px;
  height: 70px;
  background: linear-gradient(rgba(47,48,58,0.8),rgba(47,48,58,0.8));
  color:var(--color--white);
  text-align: center;
}


/* section4 */

  
.section4 {
  height: 708px;
  margin-bottom: 94px;
  text-align: center;
  background-color:  var(--color--section2);
}

.section4__tittle3 {
  display: block;
  text-align: center;
  margin-bottom: 50px;
 padding-top: 94px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--color--dark);
}
  
.section4_ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

  .section4__image {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

 .section4__name-worker {
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--color--dark);
} 

.section4__profesion {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color:var(--color--text-title);
   margin-top: 10px;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
}

/*iconos redes sociales*/

.social-network {
  margin: 0 auto;
  height: 44px;
  width: 206px;
  fill: var(--color--text-title);
 display: flex;
  justify-content: space-between;
}


.section4__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}       

.section4__link:hover,
.section4__link:focus {
  background-color:var(--color--blue);
  border-radius: 22px;
  border: 1px #afb1b8 solid;
  outline: none;
}

.section4__link:hover .section4-icon,
.section4__link:focus .section4-icon {
  border-color: var(--color--white);
  fill: var(--color--white);
  background-color: var(--color--blue);
  
}

.section4-icon {
  height: 20px;
  width: 20px;
 
}

/* section5 */


.section5 {
  margin: 0 auto;
  /* padding-bottom: 151px; */
  /* padding-top: 140px; */
  margin-bottom:94px;
}
.section5-text {
  text-align: center;
  margin: 0px;
  padding-bottom: 44px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--color--dark);
}

.section5__container-logos {
  display: flex;
  justify-content: space-between;
}

.section5__link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #afb1b8 solid;
  border-radius: 4px;
  width: 150px;
  height: 81px;
  fill: #afb1b8;
}

.section5__link-container:hover,
.section5__link-container:focus {
  border-color: var(--color--blue);
  fill: var(--color--blue);
  outline: none;
}

.section5__client-logo {
  height: 52px;
  width: 106px;
  fill: #afb1b8 solid;
}


/* section footer */


.footer {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: flex-start;
}

.footer_div {
  display: flex;
}

.footer-address-logo{
  margin-right: 70px;
}

.footer__logo{
  margin-top: 0px;
  margin-bottom: 9px;
}
 
.footer__address{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color:  var(--color--white);
  font-style: normal;
}

.footer-contact{
  text-decoration: none;
  list-style-type: none;
  color: var(--color--text-title);
  padding-left: 0px;

}

.footer-contact:hover,
.footer-contact:focus
  {
  color: var(--color--blue);
  fill: var(--color--blue);
  border-color: var(--color--blue);
  outline: none;
}

/* <!--------------- footer social netwok ------------> */

.footer-text {
  margin-bottom: 20px;
  color: var(--color--white);
}
.footer__social-network {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.footer__icon {
  display: flex;
  align-items: center;
  justify-content: center;
             
   border-radius: 22px;
   margin-right: 10px;;
  background:linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1));
}

.footer__social-link{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

 .footer__icon .footer__social-link:hover,
 .footer__icon .footer__social-link:focus {
  background-color: var(--color--blue);
  border-radius: 22px;
  border: 1px var(--color--blue);
  outline: none;

  } 
      
.footer__svg {  
  height: 20px; 
  width: 20px;
  fill: var(--color--white);
} 

.footer-form{
  display: flex;
 
}

.footer__form-label{
 
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--color--white);
  display:block;
  margin-bottom: 20px;
  margin-left: 93px;

}
.footer__form-input{
  margin-left: 93px;
  width: 358px;
  height:50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
outline: none;
padding-left: 30px;
color:var(--color--white);
}
 
.footer__button{
  display:flex;
width:200px;
height:50px;
color:var(--color--white);
background-color: var(--color--blue);
border: var(--color--blue);
margin-left: 12px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
margin-top: 36px;

font-weight: 700;
font-size: 16px;
line-height: 30px;
align-items: center;
justify-content: center;
}


.footer__form-svg{
  fill:#EEEEEE;
  height: 24px;
  width:24px;

  margin-left: 20px;
  
}